.page-in-2 {
    top: 500px;
    left: 55px;
    position: absolute;
}

.page-in-2 > .tile__img {
    width: 680px;
}

.page-in-2 > .tile {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 55px;
}

.page-in-2 > .tile .tile__title {
    font-size: 50px;
    color: #70f5d7;
    padding: 10px 0px;
    font-family: Roboto-Bold;
}

.active{
    transform: scale(1.2);
}

