#app-container {
    background: url(../common/img/background.png) !important;
    font-family: Roboto-Bold;
}

.lobby-background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background: url(../common/img/background-lobby-min.png) !important;
}

.lobby {
    position: absolute;
    top: 1550px;
    padding: 122px;
    width: 100%;
}

.lobby > ul.category {
    display: flex;
    padding-left: 0;
    list-style: none;
    transition: 450ms all;
}

.lobby > ul.category > li {
    padding: 36px 38px;
    color: var(--color__white);
    border-radius: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 472px;
    white-space: normal;
}

.lobby > ul.category > li > i {
    font-size: 62px;
    margin-bottom: 15px;
}

.lobby > ul.category > li > span {
    font-size: 67px;
    font-weight: bold;
    color: var(--color__white);
    margin-top: 20px;
}

.lobby > ul.category > li > span > a{
    color:white;
    text-decoration: none;
}

.lobby > ul.category > li:first-child, .lobby > ul.category > li:nth-child(7) {
    background: #3e90b5
}

.lobby > ul.category > li:nth-child(2), .lobby > ul.category > li:nth-child(8) {
    background: #399272
}

.lobby > ul.category > li:nth-child(3), .lobby > ul.category > li:nth-child(9) {
    background: #7ab149
}

.lobby > ul.category > li:nth-child(4), .lobby > ul.category > li:nth-child(10) {
    background: #c19f3b
}

.lobby > ul.category > li:nth-child(5), .lobby > ul.category > li:nth-child(11) {
    background: #ca7942
}

.lobby > ul.category > li:nth-child(6), .lobby > ul.category > li:nth-child(12) {
    background: #b94649
}

.active {
    transform: scale(1.25);
}
