/*  ---- button search ---- */

#app-container .search {
    float: right;
    width: 317px;
    height: 136px;
    border-radius: 68px;
    border: 1px solid #868686;
    background-repeat: no-repeat;
    background-position: 10px;
    position: absolute;
    top: 50px;
    left: 3000px;
}

#app-container .search input[type="text"] {
    width: 170px;
    right: 10px;
    border: 0px;
    height: 100%;
    color: white;
    font-size: 60px;
    position: absolute;
    font-weight: bold;
    margin-right: 1px;
    background: #ff000000;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 70px;
}


#app-container .search button {
    border: 0px;
    border-radius: 20px;
    background: #1e414d9e;
}

#app-container .search img {
    width: 110px;
    position: absolute;
    left: 13px;
    right: 0;
}
