:root {
    --menu-top: 58px;
    --app-left: 54px;

    --color__blue: #8aded4;
    --color__white: #ffffff;
    --color__yellow: #ffff00;
}

.channel {
    position: absolute;
    top: 420px;
    left: var(--app-left);
    width: 97%;
}

.grid {
    position: absolute;
    top: 420px;
    left: var(--app-left);
    width: 97%;
}

.item {
    padding-left: 62px;
    padding-bottom: 110px;
    padding-top: 70px;
}

.item > .thumb {

}

.item > .thumb a {
    text-decoration: none;
}

.item > .thumb img {
    width: 100%;
    height: 100%;
}

.active {
    transform: scale(1.2);
    opacity: 1;
    /*box-shadow: 0px 0px 5px 2px var(--color__blue);*/
}

.top-menu > .active{
    transform:scale(1.5);
}
