@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
.wrapped {
    position: absolute;
    top: 450px;
    left: 122px;
    font-family: Roboto-Regular;
}

.row {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.row__inner {
    display: flex;
    transition: 450ms transform;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    margin: 83px 0;

}

.tile {
    position: relative;
    width: var(--tile-width);
    height: var(--tile-height);
    margin-right: 10px;
    transition: 450ms all;
    cursor: pointer;
    font-size: 20px;
    transform-origin: center left;
}

.tile__img {
    width: var(--tile-width);
    height: var(--tile-height);
    object-fit: cover;
}

.tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    transition: 450ms opacity;
}

.tile:hover .tile__details {
    opacity: 1;
}

.tile__title {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: var(--color__white);
    font-size: 36px;
}

.tile__title > ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.tile__title > ul > li:nth-child(3) {
    color: var(--color__yellow);
}

.active {
    transform: scale(1.5);
    opacity: 1;
    box-shadow: 0px 0px 5px 2px var(--color__blue);
}

.active ~ .tile {
    transform: translate3d(295px, 0, 0);
}

.active > .tile__details {
    opacity: 1;
}

.btn__prev, .btn__next {
    height: var(--tile-height);
    position: absolute;
    width: 96px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    color: var(--color__white);
}

.btn__prev:before, .btn__next:before {
    font-size: 60px;
    position: absolute;
    top: 46%;
    left: 20px;
}

.btn__prev {
    left: 132px;
}

.btn__next {
    right: 0;
}

.btn__prev:before {
    content: '\f060';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.btn__next:before {
    content: '\f061';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.row1__btn {
    top: 545px;
}

.row2__btn{
    top: 1043px;
}

.row3__btn{
    top: 1545px;
}

h2.category {
    position: absolute;
    font-size: 60px;
    text-transform: uppercase;
    color: var(--color__white);
    margin: 0
}

.row1 {
    top: 450px;
    left: 122px;
    position: absolute
}

.row2 {
    top: 950px;
    left: 122px;
    position: absolute;
}

.row3 {
    top: 1450px;
    position: absolute;
    left: 122px;
}
