.row1 {
    position: absolute;
    top: 400px;
    left: 122px;
    overflow: hidden;
    width: 100%;
}

.row__inner {
    display: flex;
    transition: 450ms transform;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    margin: 83px 0;
}

.tile {
    position: relative;
    width: var(--tile-width);
    height: var(--tile-height);
    margin-right: 10px;
    transition: 450ms all;
    cursor: pointer;
    font-size: 20px;
    transform-origin: center left;
}

.tile__img {
    width: var(--tile-width);
    height: var(--tile-height);
    object-fit: cover;
}

.tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    transition: 450ms opacity;
}

.tile:hover .tile__details {
    opacity: 1;
}

.tile__title {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: var(--color__white);
    font-size: 36px;
}

.tile__title > ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.tile__title > ul > li:nth-child(3) {
    color: yellow;
}

.active {
    transform: scale(1.5);
    opacity: 1;
    box-shadow: 0px 0px 5px 2px var(--color__blue);
}

.active ~ .tile {
    transform: translate3d(295px, 0, 0);
}

.row__inner > .active ~ .tile{
    transform: translate3d(0, 0 ,0);
}

.active > .tile__details {
    opacity: 1;
}


.btn__prev, .btn__next {
    height: var(--tile-height);
    position: absolute;
    width: 96px;
    top: 93px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    color: var(--color__white);
}

.btn__prev:before, .btn__next:before {
    font-size: 60px;
    position: absolute;
    top: 46%;
    left:20px;
}

.btn__prev {
    left: 132px;
}

.btn__next {
    right: 0;
}


.btn__prev:before {
    content: '\1F860';
}

.btn__next:before {
    content: '\1F862';
}

.row1__btn {
    top: 493px
}

h2.category {
    position: absolute;
    font-size: 60px;
    text-transform: uppercase;
    color: var(--color__white);
    margin: 0
}

/*end trang trong*/
.wrapped__movie {
    width: 100%;
    height: 100%;
    background-image: url("img/visaoduaanhtoi.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding-left: 30px;
    top: 940px;
    left: 122px;
    font-family: Roboto-Regular;
}

.wrapped__movie:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -122px;
    top: 0;
    background: linear-gradient(90deg, #332937 19%, rgba(0, 0, 0, 0) 60%);
}

:root {
    --color__title: #5ac29c;
}

.wrapped__movie > .movie {
    position: absolute;
    z-index: 1;
    width: 70%;
    font-size: 40px;
}

p {
    margin: 0;
}

.movie > .movie__name {
    color: #5ac29c;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 87px;
    margin-bottom: 0;
    margin-top:25px;
}

.movie > ul.list1 {
    display: flex;
    align-items: center;
    font-size: 58px;
    margin: 10px 0;
}

.movie > ul.list1 > li.rating {
    color: #ffff00;
    margin-right: 30px;
}

.movie > ul.list1 > li.cc > p {
    margin: 0 10px 0 0;
    border: 1.5px solid #78747d;
    padding: 0 10px;
    color: var(--color__white);
    border-radius: 3px;
}

.movie > ul.list1 > li.resolution > p {
    margin: 0;
    padding: 0 10px;
    background: #77767f;
    border-radius: 3px;
    font-weight: bold;
    color: #000000;
}

ul.episode {
    display:flex;
    width:100%;
    flex-wrap:wrap;
}

.episode > li{
    width:9%;
    margin-right:15px;
    border: 3px solid #316d64;
    margin-bottom:15px;
    cursor: pointer;
    color: #acacac;
}

.episode > li:hover{
    background: #216052;
    color:white;
}

.episode > li > p {
    text-align: center;
    padding: 11px 0;
    margin: 5px 0;
    font-weight: bold;
}

.row__inner > .active{
    transform:scale(1);
    /*border:3px solid #3b9f7b;*/
}

ul {
    padding-left: 0;
    list-style: none;
}

ul.action {
    display: flex;
}

ul.action > li {
    padding: 36px 38px;
    color: var(--color__white);
    border-radius: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.action > li > i {
    font-size: 62px;
    margin-bottom: 15px;
}

ul.action > li > span {
    font-size: 31px;
    font-weight: bold;
}

ul.action > li > span.lastest {
    color: #ecbcb4;
}

ul.action > li > span.episode {
    color: #b9c5a8
}

ul.action > li > span.trailer {
    color: #cec3b3
}

ul.action > li > span.favorite {
    color: #9daec2
}

ul.action > li > span.review {
    color: #d5c1b8
}

ul.action > li:nth-child(1) {
    background: #95554b
}

ul.action > li:nth-child(2) {
    background: #4f524b
}

ul.action > li:nth-child(3) {
    background: #795f3c
}

ul.action > li:nth-child(4) {
    background: #3a4450
}

ul.action > li:nth-child(5) {
    background: #665750
}

.description {
    display: flex;
}

.description > .left > p {
    color: var(--color__white);
}

.description > .left > p.more {
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.description > .left > button {
    position: relative;
    background: red;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    padding: 35px 69px;
    color: var(--color__white);
    margin-bottom: 15px;
}

.description > .left > button:before {
    content: '▶';
    position: absolute;
    left: 26px;
    top: 35px;
    font-size: 40px;
}

.description > .right > ul > li {
    display: flex;
    color: var(--color__white);
    font-weight: bold;
}

.description > .right > ul > li > .left {
    width: 26%;
}

.description > .right > ul > li > .right {
    width: 65%;
}
