/* UTILITY */
.grid-body{
	margin: 0px 0px;
    padding: 0px 0px;
}
.top{
	margin-top:10px;
}
.top-large{
	margin-top:25px;
}
.bottom{
	margin-bottom:10px;
}
.bottom-medium{
	margin-bottom:15px;
}
.bottom-large{
	margin-bottom:25px;
}
.left{
	margin-left:10px;
}
.left-large{
	margin-left:25px;
}
.right{
	margin-right:10px;
}
.right-large{
	margin-right:25px;
}

/* GRID */
.grid{
	margin-left:-10px;
}
.grid-large{
	margin-left:-25px;
}
.grid:after,
.grid:before{
    content:'';
    clear:both;
    display:block;
}
.grid>*{
    float:left;
    padding-left:10px;
}
.grid-large>*{
    padding-left:25px;
}
.grid.grid-1-1>*{
	width:100%
}
.grid.grid-1-2>*{
	width:50%
}
.grid.grid-1-3>*{
	width:33.333%
}
.grid.grid-1-4>*{
    width:25%;
}
.grid.grid-1-5>*{
    width:20%;
}
.grid.grid-1-6>*{
    width:16.666%
}
.grid>.width-1-1{
	width:100%;
}
.grid>.width-1-2,
.grid>.width-2-4,
.grid>.width-3-6,
.grid>.width-5-10{
	width:50%;
}
.grid>.width-1-3,
.grid>.width-2-6{
    width: 33.333%;
}

.grid>.width-2-7 {
	width: 30%;
}

.grid>.width-1-4{
    width: 25%;
}
.grid>.width-1-5,
.grid>.width-2-10{
    width: 20%;
}
.grid>.width-1-6{
    width:16.666%
}
.grid>.width-1-10{
    width:10%
}
.grid>.width-2-3{
    width: 66.666%;
}
.grid>.width-2-5,
.grid>.width-4-10{
    width: 40%;
}
.grid>.width-2-6{
    width:16.666%
}
.grid>.width-3-4{
    width: 75%;
}
.grid>.width-3-5,
.grid>.width-6-10{
    width: 60%;
}
.grid>.width-4-5,
.grid>.width-8-10{
    width: 80%;
}
.grid>.width-7-10 {
    width: 70%;
}