@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

:root {
    --menu-top: 58px;
    --app-left: 54px;

    /*trang trong*/
    --tile-width: 591px;
    --tile-height: 333px;
    --duration: 450ms;
    --iconSize: 50px;
    --growFactor: 1.5;
    --moveLeft: -125px;
    --moveRight: 250px;
    --color__blue: #8aded4;
    --color__white: #ffffff;
    --color__yellow: #ffff00;
}

.top-menu-btn-color1 {
    background: #3583a5;
    border: 1px solid #3583a5
}

.top-menu-btn-color2 {
    background: #3b9f7b;
    border: 1px solid #3b9f7b
}

.top-menu-btn-color3 {
    background: #7ab149;
    border: 1px solid #7ab149
}

.top-menu-btn-color4 {
    background: #c1a13c;
    border: 1px solid #c1a13c
}

.top-menu-btn-color5 {
    background: #c5743d;
    border: 1px solid #c5743d
}

.top-menu-btn-color6 {
    background: #ba464a;
    border: 1px solid #ba464a
}

.top-menu-btn-color7 {
    background: #a02457;
    border: 1px solid #a02457
}

.top-menu-btn-color8 {
    background: #004d61;
    border: 1px solid #004d61
}

#app-container {
    width: 3840px;
    height: 2160px;
    transform-origin: top left;
    max-height: 2160px;
    /*overflow: auto;*/
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.top-menu button {
    width: 261px;
    height: 115px;
    transition: all .2s ease-in-out;
    padding: 0;
    margin: 0 0 0 -5px;
}

.top-menu button img {
    transform: skew(27deg);
    height: 80px;
}

.top-menu button:hover {
    transform: scale(1.5);
    margin-right: 34px;
    -webkit-box-shadow: 0px 0px 12px 7px rgba(177, 255, 227, 0.78), inset 0 0 46px rgba(42, 89, 72, 0.39);
    -moz-box-shadow: 0px 0px 12px 7px rgba(177, 255, 227, 0.78), inset 0 0 46px rgba(42, 89, 72, 0.39);
    box-shadow: 0px 0px 12px 7px rgba(177, 255, 227, 0.78), inset 0 0 46px rgba(42, 89, 72, 0.39);
}

.logo {
    position: absolute;
    top: var(--menu-top);
    left: 130px;
    width: 600px;
    height: 115px;
}

.top-menu {
    padding: 40px 0px;
    overflow: hidden;
    white-space: nowrap;

    width: 2151px;
    position: absolute;
    top:0;
    left: 768px;
    transform: skew(-27deg)
}

.top-menu-btn-left-right {
    position: absolute;
    top: var(--menu-top);
    height: 115px;
}

.top-menu-btn-left-right button,
.top-menu-btn-left-right img {
    /*height: 115px;*/
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

.top-menu-btn-left-right button:nth-child(1) {
    position: absolute;
    left: 737px;
    top:-17px;
}

.top-menu-btn-left-right button:nth-child(2) {
    position: absolute;
    left: 2809px;
    top:-17px;
}

.clock {
    position: absolute;
    top: 43px;
    left: 3360px;
    text-align: center;
    line-height: 1;
}

#Date {
    font-family: Roboto-Regular;
    font-size: 33.03px;
    color: var(--color__white);
}

.content-hours {
    color: #70f6d8;
}

.hours-small {
    font-size: 126.36px;
    display: inline;
    font-family: Roboto-Bold;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
}

@-webkit-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
    50% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
    50% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}

.search {
    float: right;
    width: 317px;
    height: 136px;
    border-radius: 68px;
    border: 1px solid #868686;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: 10px;
    position: absolute;
    top: 50px;
    left: 3000px;
}

.top-sub-menu {
    width: 2202px;
    height: 115px;
    position: absolute;
    top: 225px;
    left: 717px;
    white-space: nowrap;
    overflow: hidden;
}

.top-sub-menu > button {
    min-width: 279px;
    width: auto;
    height: 115px;
    border: 1px solid #2eb182;
    background: transparent;
    font-size: 45px;
    font-family: Roboto-Bold;
    color: #86d4b8;
    padding: 0px 40px;
    margin-left: 12px;
    text-transform: uppercase;
}

.top-sub-menu > .active{
    background: #366359;
    transform:scale(1);
}

.top-sub-menu > button:hover {
    background: #366359;
}

.top-sub-menu .left-right button {
    background: transparent;
    border: 0;
    position: absolute;
    top: 24px;
}

.top-sub-menu .left-right button:nth-child(1) {
    left: -72px;
}

.top-sub-menu .left-right button:nth-child(2) {
    right: 0;
}

.text-heading-row {
    font-size: 60px;
    color: var(--color__white);
    font-family: Roboto-Regular;
    position: absolute;
    top: 420px;
    left: var(--app-left);
}
