/*@import url('https://fonts.googleapis.com/css?family=Roboto&subset=vietnamese');*/
/* RESET */
*{
    font-family: 'Roboto','Roboto-Regular', sans-serif;
	/*box-sizing:border-box;*/
	/*padding:0px;*/
	/*margin:0px;*/
}

.header {
    position: absolute;
	top: 70px;
	width: 100%;
}
/* --------------------- SHIMER -------------------------- */
.shimmer .thumb,
.shimmer .line{
	background-color: #CCC;
	animation-name: shimmer;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
	background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	-webkit-background-size: 800px 104px;
}
.shimmer .line{
	min-height:8px;
	margin-bottom:10px;
	display:block;
	width:100%;
}
.shimmer .line:last-child{
	margin-bottom:0px;
}
@keyframes shimmer{
	0%{
		background-position: -468px 0;
	}
	100%{
		background-position: 468px 0;
	}
}
