.form-login {
    text-align: center;
    color: var(--color__white);
    position: absolute;
    top: 320px;
    width: 100%;
    text-transform: uppercase;
}

.form-login__title {
    margin-bottom: 100px;
}

.form-login__title > label {
    font-size: 100px;
    font-weight: bold;
    margin-top: 190px;
}

.form-login__send-otp {
    font-size: 50px;
    margin-bottom: 20px;
}

.form-login__phone-number {
    font-size: 100px;
}

.form-login__press-otp > input {
    width: 1185px;
    border-radius: 77px;
    background: transparent;
    border: 1px solid #c0c0c040;
    padding: 50px 0px;
    text-align: center;
    font-size: 50px;
    outline: none;
    color: var(--color__white);
    margin-top: 35px;
    margin-bottom: 35px;
}

.form-login__press-otp > input::placeholder {
    color: var(--color__white);
}

.form-login__button {
    width: 1185px;
    color: var(--color__white);
    border-radius: 77px;
    margin-bottom: 36px;
    background: #fffcfc21;
    border: 1px solid #c0c0c040;
    padding: 65px 0;
    font-size: 50px;
    text-transform: uppercase;
}

.form-login__confirm{
    margin-bottom:70px;
}

.form-login__num {
    display: flex;
    list-style: none;
    padding-left: 0;
    position: absolute;
    left: 1160px;
}

.form-login__num > li {
    margin-right: 15px;
}

.form-login__num > li:last-child > button > img{
    margin-top:-25px;
}

.form-login__num > li.active{
    background: #4c656c;
    border-radius:23px;
}

.form-login__num > li > button {
    color: white;
    font-size: 79px;
    border: honeydew;
    outline: none;
    background: transparent;
    border-radius: 23px;
    padding: 15px 40px;
    font-weight: bold;
}

.form-login__action{
    position: absolute;
    top: 1290px;
    left: 1470px;
    color: #1c2129;
    display: flex;
    align-items: center;
}

.form-login__btn-remove {
    width: 340px;
    padding: 20px 0px;
    background: var(--color__white);
    color: black;
    border-radius: 50px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    margin-right:42px;

}

.form-login__prev, .form-login__next{
    width: 74px;
    height: 74px;
    background: white;
    position: relative;
    border-radius:50%;
    margin-right:42px;
}

.form-login__prev > i, .form-login__next > i{
    font-size: 89px;
    color: black;
    position: absolute;
}

.form-login__prev > i{
    left: 16px;
    top: -9px;
}

.form-login__next > i{
    top: -7px;
    left: 28px;
}

.active{
    background: #4c656c;
}
