.form-sign-up {
    text-align: center;
    color: var(--color__white);
    position: absolute;
    top: 320px;
    width: 100%;
    text-transform: uppercase;
}

.form-sign-up__title > label {
    font-size: 100px;
    font-weight: bold;
    margin-top: 189px;
}

.form-sign-up__input > input {
    width: 1185px;
    border-radius: 77px;
    background: transparent;
    border: 1px solid #c0c0c040;
    padding: 50px 0px;
    text-align: center;
    font-size: 50px;
    outline: none;
    color: var(--color__white);
    margin-top: 70px;
}

.form-sign-up__input > input::placeholder {
    color: var(--color__white);
}

.form-sign-up__button {
    width: 1185px;
    color: var(--color__white);
    border-radius: 77px;
    margin-top: 70px;
    margin-bottom: 36px;
    background: #fffcfc21;
    border: 1px solid #c0c0c040;
    padding: 65px 0;
    font-size: 50px;
    text-transform: uppercase;
}

.form-sign-up__confirm{
    margin-bottom:70px;
}

.form-sign-up__num {
    display: flex;
    list-style: none;
    padding-left: 0;
    position: absolute;
    left: 320px;
}

.form-sign-up__num > li {
    margin-right: 15px;
}

.form-sign-up__num > li:last-child > button > img{
    margin-top:-25px;
}

.form-sign-up__num > li{
    border-radius:23px;
}

.active{
    background: #4c656c !important;
}

.form-sign-up__num > li > button {
    color: white;
    font-size: 79px;
    border: honeydew;
    outline: none;
    background: transparent;
    border-radius: 23px;
    padding: 15px 40px;
    font-weight: bold;
}

.form-sign-up__action{
    position: absolute;
    top: 1490px;
    left: 1065px;
    color: #1c2129;
    display: flex;
    align-items: center;
}

.form-sign-up__btn {
    width: 340px;
    padding: 20px 0px;
    background: var(--color__white);
    color: black;
    border-radius: 50px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    margin-right:42px;

}

.form-sign-up__prev, .form-sign-up__next{
    width: 74px;
    height: 74px;
    background: white;
    position: relative;
    border-radius:50%;
    margin-right:42px;
}

.form-sign-up__prev > i, .form-sign-up__next > i{
    font-size: 89px;
    color: black;
    position: absolute;
}

.form-sign-up__prev > i{
    left: 16px;
    top: -9px;
}

.form-sign-up__next > i{
    top: -7px;
    left: 28px;
}

.form-sign-up__combine{
    top: 1320px;
    left: 675px;
}

.form-sign-up__combine > li:last-child > button{
    margin-top: 52px;
}

.form-sign-up__suggest{
    position: absolute;
    top: 1665px;
    left: 1650px;
    width: 556px;
}

.form-sign-up__suggest > button{
    padding: 48px 0;
    width: 100%;
    background: white;
    border-radius: 71px;
    font-size:50px;
    font-weight:bold;
    display: flex;
    justify-content: space-around;
}
