@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

.row1 {
    position: absolute;
    top: 450px;
    left: 122px;
    overflow: hidden;
    width: 100%;
}

.row__inner {
    display: flex;
    transition: 450ms transform;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    margin: 83px 0;

}

.tile {
    position: relative;
    width: var(--tile-width);
    height: var(--tile-height);
    margin-right: 10px;
    transition: 450ms all;
    cursor: pointer;
    font-size: 20px;
    transform-origin: center left;
}

.tile__img {
    width: var(--tile-width);
    height: var(--tile-height);
    object-fit: cover;
}

.tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    transition: 450ms opacity;
}

.tile:hover .tile__details {
    opacity: 1;
}

.tile__title {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
    font-size: 36px;
}

.tile__title > ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.tile__title > ul > li:nth-child(3) {
    color: yellow;
}

/*test*/
.active {
    transform: scale(1.5);
    opacity: 1;
    box-shadow: 0px 0px 5px 2px var(--color__blue);
}

.active ~ .tile {
    transform: translate3d(295px, 0, 0);
}

/*top-menu*/
/*.active ~ .bts {*/
    /*transform:translateX(70px) !important;*/
/*}*/

/*.bts:not(.active) {*/
    /*transform:translateX(-70px);*/
/*}*/

.active > .tile__details {
    opacity: 1;
}

.active > .tile__media > img {
    border: 2px solid gray;
}

/*end test*/

.active > span {
    transform: scale(1) !important;
}

.btn__prev, .btn__next {
    height: var(--tile-height);
    position: absolute;
    width: 96px;
    top: 542px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

.btn__prev:before, .btn__next:before {
    font-size: 60px;
    position: absolute;
    top: 46%;
    left: 20px;
}

.btn__prev {
    left: 133px;
}

.btn__next {
    right: 0;
}


.btn__prev:before {
    content: '\f060';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.btn__next:before {
    content: '\f061';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

h2.category {
    position: absolute;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
    margin: 0
}

.grid {
    position: absolute;
    top: 1052px;
    left: 129px;
    /*display: grid;*/
    /*grid-template-columns: 20% 20% 20% 20% 20%;*/
    /*grid-row-gap: 72px;*/
    /*grid-column-gap: 34px;*/
    display: flex;
    width: 94%;
}

.grid > .category {
    margin-right: 24px;
    transform: scale(1) !important;
    width: 20%;
}

.category > img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.category > span {
    color: var(--color__blue);
    font-size: 47px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
